@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  height: 100%;
  background: linear-gradient(
    0deg,
    hsl(var(--nextui-gradientColor1)) 0%,
    hsl(var(--nextui-gradientColor2)) 100%
  );
  flex: 1;
}

/* global.css */
h1 {
  @apply text-primary-dark font-Ubuntu text-4xl my-4;
}

h2 {
  @apply text-primary-dark font-Ubuntu text-3xl my-3;
}

h3 {
  @apply text-primary-dark font-Ubuntu text-2xl my-3;
}

h4 {
  @apply text-primary-dark font-Ubuntu text-xl my-2;
}

h5 {
  @apply text-primary-dark font-Ubuntu text-lg my-2;
}

h6 {
  @apply text-primary-dark font-Ubuntu text-base my-1;
}

p {
  @apply text-grey-main font-Ubuntu text-base my-2;
}